.cart-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cart-item .pr-img-name {
  flex: 3;
  display: flex;
  align-items: center;
  min-width: 265px;
}
.cart-item .pr-img-name img {
  object-fit: cover;
}
.cart-item .pr-img-name h4 {
  flex: 1;
  margin-bottom: 0 !important;
  text-align: center;
}

.cart-item .cart-amount {
  flex: 2;
  display: flex;
  align-items: center;
  min-width: 175px;
}
.cart-item .cart-amount input {
  width: 70%;
  margin-right: 1rem;
  text-align: center;
}

.cart-item .delete {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.cart-item svg > path {
  color: #839c44 !important;
}
.cart-item svg {
  cursor: pointer !important;
}
.cart-item svg:hover {
  background-color: #eeeaea !important;
  border-radius: 5px !important;
}

@media screen and (max-width: 494px) {
  .cart-item {
    border-bottom: 1px solid #eeeaea;
  }
  .cart-item .pr-img-name {
    margin-bottom: 1rem;
  }
}

/* summary */
.cartTotal {
  border: 1px solid #5a710e;
  padding: 32px;
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.cartTotal .one-info {
  display: flex;
}
.cartTotal .one-info h6 {
  margin-right: 1rem;
  margin-bottom: 0 !important;
  font-weight: bold !important;
}
.cartTotal .one-info .remove {
  margin-left: auto;
}

hr {
  border-top: 1px solid #5a710e;
  width: 100%;
}
@media (max-width: 992px) {
  .cartTotal {
    height: 400px;
  }
}
