#projects {
  margin-bottom: 30px;
}
#projects .title h1:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 0%;
  border-bottom: 3px solid #839c44;
}
#projects .title h1 {
  margin-bottom: 0 !important;
}
#projects .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#projects .title button {
  border: none !important;
}

.rec.rec-arrow,
.rec.rec-arrow:focus {
  border-radius: 0;
  color: #fff;
  background-color: rgb(131, 156, 68, 0.8) !important;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
  color: #fff;
  background-color: #839c44 !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.card {
  cursor: pointer;
  padding: 10px;
  border-radius: 1rem !important;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* image size */
.rec-carousel-item .card img {
  border-radius: 1rem;
  height: 250px;
  object-fit: cover;
}
.projects .card img {
  height: 400px;
  object-fit: cover;
}
.projects .card {
  height: 100%;
}
.projects .col-12,
.projects .col-lg-6 {
  margin-bottom: 3rem;
}
.card-body h5 {
  font-weight: bold;
}
.card-body .btn {
  width: 100% !important;
  font-size: 1.2rem !important;
}

.btn.remove,
.btn.remove:focus {
  background-color: #b22222 !important;
  color: #fff !important;
  border-color: #8b0000 !important;
}
.card .btn.remove:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
.card-body .btn:hover {
  box-shadow: rgba(149, 157, 16, 0.56) 10px 2px 40px 5px !important;
}

.rc-slider {
  margin-bottom: 36px;
}

.rc-slider-track {
  background-color: #839c44 !important;
}
.rc-slider-dot-active {
  border-color: rgba(149, 157, 16, 0.4) !important;
}
.rc-slider-handle {
  border: solid 2px #839c44 !important;
}

.rc-slider-disabled {
  background-color: transparent !important;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  cursor: pointer !important;
}
.goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#raised strong {
  color: #5a710e;
}
#raised {
  text-align: end;
}
.rec-carousel-item {
  display: flex;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body .card-text {
  margin-bottom: 0.5rem !important;
}

/* modal */
.modal-header .close .sr-only {
  display: none;
}
.modal-header .close {
  background-color: #fff !important;
  border-color: #fff !important;
}
.modal-footer .btn {
  font-size: 1.2rem !important;
}

.modal-cont {
  display: flex;
}
.modal-cont img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.don-info h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.don-info {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.don-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.goals {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.amount {
  display: flex;
  align-items: center;
}
.amount input {
  padding: 0.6rem 1rem;
}
.amount span {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: bold;
}
.error {
  color: #8b0000;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .modal-cont {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .rec-carousel-item .card img {
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  .rec.rec-arrow {
    width: 40px;
    height: 40px;
    min-width: 40px;
    line-height: 40px;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 370px) {
  .rec.rec-arrow {
    width: 20px;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    font-size: 1em;
  }
  .rec-carousel-item .card img {
    height: 150px;
  }
}
